<!DOCTYPE html>
<html>
  <head>
    <title>Watermark System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/js/main.js'></script>
  </head>
  <body>
    <div class="col-4">
      <form action="/resolution" method="post">
        <h3>
          Resolutions
          <button id="addRow" type="button" class="btn btn-warning pull-right" style="float:right;">Add Row</button>
        </h3>
        <div id="resolutionList">
          <% resolutions.forEach(function(size) { %>
            <input type="text" name="resolutions" class="form-control" value="<%= size %>" />
          <% }) %>
        </div>
        <button type="submit" class="btn btn-primary">Update & Generate</button>
      </form>
    </div>
  </body>
</html>
